.about-main{
    background: #1B1B1B !important;
    padding: 6.44rem 15rem 2.25rem ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2.56rem;

}
.bg-box{
    width: 34.9375rem;
height: 62.5rem;
opacity: 0.5;
background: #282828;
position: absolute;
top: 0;
left: 0;

}
.about-index{
    position: relative;
}
.about-left{
    z-index: 1;
    position: relative;
}
.about-left img{
    width: 100%;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
}
.about-right h4{
    color: var(--primery, #82A93C);
font-family: Jost;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.0125rem;
border-bottom: 1px solid #666;
width: 6.625rem;
display: inline-flex;
align-items: center;
justify-content: center;

}

.about-points{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    width: 100%;
}
.about-right h1{
    color: #FFF;
font-family: Tobias;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-bottom: 0.62rem;
}
.about-right span{
    color: var(--primery, #82A93C);
}
.about-right p{
    color: #FFF;
font-family: Jost;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.0125rem;
}
.about-points h3{
    display: inline-flex;
    align-items: center;
    gap: 0.44rem;
    color: #7F7F7F;
font-family: Jost;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01125rem;
padding-block: 0.94rem;

}
.about-points h3 span{
    width: 0.5625rem;
height: 0.5625rem;
background-color: var(--primery, #82A93C);
border-radius: 50%;
}
.point-left , .point-right{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.quote-btn{
    width: fit-content;
}
.about-box{
    position: relative;
    padding:1.81rem  1.44rem 0.94rem;
    border-radius: 0.625rem;
background: #FEFEFF;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
width: 11.9375rem;
height: 14.1875rem;
z-index: 1;
}

.right-img{
    position: absolute;
    top: -14px;
    left: 43%;

}
.right-img img{
    border-radius: 0;
}
.about-rating{
    position: absolute;
    bottom: -3.3rem;
    right: 3.3rem;
}
.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.31rem;
}
.about-box h1{
    color: #000;
font-family: Tobias;
font-size: 4.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about-box h3{
    color: #7F7F7F;
font-family: Jost;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about-box h2{
    color: #000;
font-family: Jost;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.desk-none{
    display: none;
}



@media (max-width: 767px) {
    .about-main{
        padding: 0.94rem;
        grid-template-columns: 1fr;
    }
    .mob-none{
        display: none !important;
    }
    .desk-none{
        display: block;
    }
    .about-right h4{
font-size: 0.9375rem;
font-weight: 600;
line-height: normal;
letter-spacing: 0.00938rem;
padding-bottom: 0.5rem;
    }
    .about-right{
        align-items: center;
    }
    .about-right h1{
text-align: center;
font-size: 1.25rem;
font-weight: 700;
text-transform: uppercase;
    }
    .about-right p{
font-size: 0.8125rem;
text-align: center;
font-weight: 500;
line-height: normal;
letter-spacing: 0.00813rem;
    }
    .about-box h1{
text-align: center;
font-size: 1.5625rem !important;
font-weight: 400;
padding-block: 0.31rem !important;
padding-bottom: 0 !important;
    }
    .about-box{
        padding: 1rem 0.63rem 0.63rem;
        width: 5.8125rem;
        height: 7.513rem;
    }
    .right-img{
        left: 31%;
    }
    .about-box h3{
text-align: center;
font-size: 0.75rem;
font-weight: 400;
line-height: normal;
margin-top: 0;
    }
    .about-box h2{
text-align: center;
font-size: 0.75rem;
font-weight: 400;
line-height: normal;
    }
    .about-rating{
        right: 0.8rem;
        bottom: -1.3rem;
    }
    .about-points{
        margin-top: 0.5rem;
        flex-direction: column;
        gap: 0;
    }
    .about-points h3{
        padding-block: 0;
    }
}