.faq-index{
    background: #1B1B1B;
}
.faq-main{
    padding: 6.25rem 15rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;

}
.faq-left h1{
    color: #FFF;
font-family: Tobias;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 2rem;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}
.faq-question h2{
    color: #FFF;
font-family: Tobias;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.faq-question {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block:2.13rem ;
  }

  .answer {
    display: none;
    margin-top: 1rem;
    color: #7F7F7F;
font-family: Jost;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.0125rem;
  }

  .faq-question .question img {
    transition: transform 0.3s;
  }

  .faq-question.open .question img {
    transform: rotate(45deg);
  }

  .faq-question.open .answer {
    display: block;
  }

  @media (max-width: 768px) {
    .faq-main{
      padding: 0.94rem;
      display: flex;
      flex-direction: column-reverse;

    }
    .faq-right img{
      width: 100%;

    }
    .faq-left h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
    .faq-question h2{
font-size: 0.875rem;
font-weight: 600;
line-height: 1.125rem; /* 128.571% */
text-transform: uppercase;
    }
    .answer{
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
letter-spacing: 0.00813rem;
    }
    .faq-question.open .question img{
      width: 1.125rem;
height: 1.125rem;
    }
    .faq-question .question img{
      width: 1.125rem;
height: 1.125rem;
    }

  }

  @media (min-width: 1100px) and (max-width: 1850px){

    .faq-main {
      padding: 6.25rem 3.25rem 0;
    }

  }

