.footer-index{
    background: #212121;
}
footer{
    padding: 5rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
    gap: 12rem;
    position: relative;
}
.footer-1 {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.81rem;

}
.footer-1 p{
    color: #7F7F7F;
font-family: Jost;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01rem;
}
.footer-1 span{
    color: #FFF;
font-family: Jost;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01rem;
}
.footer-1 h2 {
    display: inline-flex;
    align-items: center;
    gap: 0.63rem;
    color: #FFF;
font-family: Jost;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-2 h1,.footer-3 h1{
    color: #FFF;
    font-family: Tobias;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 0.31rem;
}
.footer-2 p,.footer-3 p{
    color: var(--dark-text, #8C8C8C);
font-family: Jost;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.inputs{
    margin-top: 1.37rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.94rem;

}
.inputs input , .inputs textarea {
    width: 100%;
    padding: 0.91rem 0.94rem;
    background-color: transparent;
    border: 1px solid #434343;
background: #212121;
}
.inputs input::placeholder , .inputs textarea::placeholder{
    color: var(--dark-text, #8C8C8C);

font-family: Jost;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.inputs a h4{
    color: #FFF;
    font-family: Jost;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 0.81rem 2.19rem;
    border: 1px solid #FFF;
    margin-top: 1.56rem;
}
.social{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1.44rem;
    margin-top: 1.5rem;
}
.logo{
    position: absolute;
    bottom: 1.31rem;
    right: 15rem;
}