body{
    background: #1B1B1B;
}

.all-hero{
    height: 32.99175rem;
    background-size: cover !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Assets/img/all-hero.svg);
}
.all-mouse{
    position: absolute;
    bottom: -1.5rem;
    /* left: 48%; */
    z-index: 1;
}
.all-bg-hero{
    position: absolute;
    bottom: -39px;

}
.all-swiper-details{
    display: flex;
    flex-direction: column;

    align-items: center;

}
.all-swiper-details h1{
    color: #FFF;
text-align: center;
font-family: Tobias;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-bottom: 0.94rem;
}
.all-swiper-details p{
    color: #FFF;
text-align: center;
font-family: Jost;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.0125rem;
padding-inline: 34rem;

}






/* villa page style  */


.neb-index{
    display: flex;
    margin-top: 6.25rem;
    position: relative;
    height: 44.75rem;

}
.neb-left{
    background: #323232;
    width: 45%;
    padding: 10.62rem 11.75rem 10.69rem 15rem;
}
.neb-right{
    opacity: 0.5;
background: #282828;
width: 55%;
}
.neb-left h1{
    color: #FFF;
font-family: Tobias;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-bottom: 0.94rem;
}
.neb-left p{
    color: #7F7F7F;
font-family: Jost;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01125rem;
padding-bottom: 1.88rem;
}

.neb-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 61rem;
    gap: 1.88rem;
    position: absolute;
    top: 5rem;
    right: 15rem;
    bottom: 5rem;
}

.neb-box{
    padding: 1.56rem 1.8rem;
    width: 19.0625rem;
    height: 16.4375rem;
    border: 1px solid #7E7E7E;
background: rgba(90, 90, 90, 0.21);
}
.neb-box h1{
    color: #FFF;
font-family: Tobias;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 1.56rem;
margin-bottom: 0.94rem;
}
.villa-point h3{
    padding-block: 0.31rem !important;
}

.floor-index{
    margin-top: 6.25rem;
    padding-inline: 15rem;

}
.floor-up{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}
.floor-up h1{
    color: #FFF;
font-family: Tobias;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.floor-up p{
    color: #7F7F7F;
text-align: center;
font-family: Jost;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01125rem;
padding-inline: 20rem;
}

.floor-down{
    margin-top: 3.12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;

}
.floor-box{
    width: 32%;
    padding: 0.94rem;
    border-radius: 0.625rem;
background: #2D2D2D;
height: 35.75rem;

}
.floor-box img{
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    width: 100%;
    object-fit: cover;
}
.floor-box h1{
    color: #FFF;
font-family: Tobias;
font-size: 1.375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-block: 1.56rem;
}


@media (max-width: 767px) {
    .all-swiper-details h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
    .all-swiper-details p{
        padding-inline: 0;
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
letter-spacing: 0.00813rem;
    }
    .all-swiper-details{
        padding: 0.94rem;
    }
    .neb-left{
        padding: 0.94rem;
    }
    .neb-left h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
    .neb-index{
        flex-direction: column;
        margin-top: 2.19rem;
        height: auto;
    }
    .neb-left{
        width: 100%;
    }
    .neb-box h1{
font-size: 1.125rem;
font-weight: 800;
line-height: normal;
margin-top: 0.94rem;
    }
    .neb-box img{
        width: 1.875rem;
height: 1.875rem;
    }
    .neb-box{
        width: 14.6875rem;
height: 11.8125rem;
padding: 1.25rem;
    }
    .neb-detail{
        overflow: auto;
        flex-wrap: nowrap;
        position: initial;
        width: 100%;
        justify-content: initial;
    }
    .villa-point{
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
letter-spacing: 0.00813rem;
    }
    .floor-index{
        padding: 0.94rem;
    }
    .floor-up p{
        padding: 0;
font-size: 0.8125rem;
font-weight: 500;
letter-spacing: 0.00813rem;
    }
    .floor-up h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
    .floor-up{
        gap: 0.62rem;
    }
    .floor-box h1{
font-size: 1.125rem;
font-weight: 800;
line-height: normal;
padding-block: 0.8rem;
    }
    .floor-box{
        padding: 0.62rem;
        min-width: 16rem;
        height: 28.6rem;
    }
    .floor-down{
        overflow: auto;
        justify-content: initial;
        gap: 0.62rem;
    }
}