.index-project{
    background-color: #1B1B1B;
}
.project{
    padding: 6.25rem 15rem 0;
}
.project-up{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.project-up h2{
    color: var(--primery, #82A93C);
    font-family: Jost;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0125rem;

}
.project-up h2 hr{
    width: 8.625rem;
    margin-top: 0.63rem;
}
.project-up h1{

    padding-top: 0.94rem;
    color: #FFF;
    font-family: Tobias;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.know-btn{
    border: 1px solid #FFF;
}
.know-btn a{
    display: inline-flex;
padding: 0.8125rem 2.1875rem;
align-items: center;
gap: 0.9375rem;

}

/* .project-down{
    margin-top: 3.12rem;
    display: flex;
    gap: 1.87rem;

}
.pro-img{
    width: 100%;
min-height: 33rem;
background-repeat: no-repeat;
}
.pro-img img{
    width: 100% !important;
min-height: 33rem;
} */


















/* Add this to your existing Project.css */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.slider-images {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 38rem;
  width: 100%;
  position: relative;
}

.slider-img {
  width: 100%; /* Full width */
  height: 38rem; /* Full height */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.center {
  transform: scale(1.2); /* Enlarge the center image */
  z-index: 1;
}

.slider-navigation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 0;
  right: 0;
  z-index: 2;
}

.slider-nav {
  width: 10px; /* Adjust as needed */
  height: 10px; /* Adjust as needed */
  background-color: green; /* Change to your desired color */
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.active {
  transform: scale(1.5); /* Enlarge the active (center) navigation circle */
}
